In [22]:
import pandas as pd
data=[1,1,1,1,1]
a=pd.Series(data,index=['z','s','d','f','g']) #index changing. Or else it will start from 0 .
print(a)
print()
data={"a":[1,2,3,4,5],"b":[2,5,6,5,3]}
b=pd.DataFrame(data)#dataframe representation
c=pd.Series(data)
print(b)
print()
print(c)#series representation
print(type(a))

z    1
s    1
d    1
f    1
g    1
dtype: int64

   a  b
0  1  2
1  2  5
2  3  6
3  4  5
4  5  3

a    [1, 2, 3, 4, 5]
b    [2, 5, 6, 5, 3]
dtype: object
<class 'pandas.core.series.Series'>

In [36]:
data={'fruit':["Mango","Papaya"],'count':[34,65]}
f=pd.DataFrame(data)
f['fruit name']=f['fruit']
print(f)

    fruit  count fruit name
0   Mango     34      Mango
1  Papaya     65     Papaya

In [40]:
df1=pd.DataFrame({"a":[1,2,3,4,5],'b':[4,6,7,8,9]})
print(df1)
df2=pd.DataFrame({"a":[12,2,34,23],"c":[3,111,321,432]})
print(df2)
print(pd.concat([df1,df2]))

   a  b
0  1  4
1  2  6
2  3  7
3  4  8
4  5  9
    a    c
0  12    3
1   2  111
2  34  321
3  23  432
    a    b      c
0   1  4.0    NaN
1   2  6.0    NaN
2   3  7.0    NaN
3   4  8.0    NaN
4   5  9.0    NaN
0  12  NaN    3.0
1   2  NaN  111.0
2  34  NaN  321.0
3  23  NaN  432.0

C:\Users\OCEAN\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [42]:
print(pd.concat([df1,df2],axis=0))
print()
print()
print(pd.concat([df1,df2],axis=1))

    a    b      c
0   1  4.0    NaN
1   2  6.0    NaN
2   3  7.0    NaN
3   4  8.0    NaN
4   5  9.0    NaN
0  12  NaN    3.0
1   2  NaN  111.0
2  34  NaN  321.0
3  23  NaN  432.0


   a  b     a      c
0  1  4  12.0    3.0
1  2  6   2.0  111.0
2  3  7  34.0  321.0
3  4  8  23.0  432.0
4  5  9   NaN    NaN

C:\Users\OCEAN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [43]:
print(pd.merge(df1,df2))

   a  b    c
0  2  6  111

In [46]:
print(pd.merge(df1,df2,how='right'))

    a    b    c
0   2  6.0  111
1  12  NaN    3
2  34  NaN  321
3  23  NaN  432